.wordGrid {
	display: grid;
	grid-template-columns: repeat(8, auto);
	gap: 1rem;
	padding: 1rem;
}

.wordGridH {
	display: grid;
	grid-template-columns: repeat(9, auto);
	gap: 1rem;
	padding: 1rem;
}

.wordCardGeneral {
	border-radius: 5px;
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.wordCardGeneralH {
	border-radius: 5px;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.wordCardCovered {
	background-color: lightskyblue;
	cursor: pointer;
}

.wordCardFlipped {
	background-color: lightgoldenrodyellow;
}

.wordCardMatched {
	background-color: darkseagreen;
}

@media only screen and (max-width: 768px) {
	.wordGrid {
		grid-template-columns: repeat(4, auto);
		gap: 1rem;
	}
	.wordCardCovered {
		width: 70px;
		height: 70px;
	}
}
