.wordGrid {
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 3rem;
	padding: 1rem;
}

.wordCardCovered {
	background-color: lightskyblue;
	border-radius: 5px;
	width: 110px;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
}

.wordCardFlipped {
	background-color: lightgoldenrodyellow;
	border-radius: 5px;
	width: 110px;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.wordCardMatched {
	background-color: darkseagreen;
	border-radius: 5px;
	width: 110px;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	.wordGrid {
		grid-template-columns: repeat(4, auto);
		gap: 1rem;
	}
	.wordCardCovered {
		width: 70px;
		height: 70px;
	}
}
